body {
      margin: 0;
      padding: 0;
      /* display: flex; */
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;
    }

    .header {
        background-image: url(./images/cookie_background.png);
        background-size: cover;
        color: #f7f3f3;
        display: flex;
        align-items: center;
        padding: 20px;
        height: 100vh;
        background-repeat: no-repeat;
    }
    
    .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 205px;
        justify-content: left; /* This might need adjustment based on your layout needs */
        margin-top: 365px;
    }
    
    /* Where is my cookie title */
    .header h1 {
        font-size: 120px;
        margin: 0;
        font-family: 'Noto Serif Display', serif;
        text-align: left;
    }
    

  /* black navbar */
  .navbar 
  {
      width: 100%;
      background-color: #000;
      overflow: auto;
      justify-content: center;
      position:absolute;
  }  

  /* navbar links */
  .navbar a {
      display: inline-block; /* Change from float to inline-block */
      text-align: center;
      padding: 12px;
      color: white;
      font-family: 'Noto Serif Display', serif;
      text-decoration: none;
      font-size: 17px;
  }


  /* Navbar links on mouse-over */
  .navbar a:hover {
      background-color:  rgb(255, 213, 183);
      color: #000;
      border-radius: 80px;
      
  }

  .navbar ul {
      list-style-type: none;
      padding: 0;
      margin: 0; 
  }
  .navbar li {
      display: inline-block;
      margin: 0;}

  .navbar li img{
      height: 30px; 
      width: 30px;
      justify-content: flex-start;
  }

  /* Section1 */  
/* Section1 - FILM */
#section1 {
  background-color: #000;
  /* background-image: url(./images/filmbg.png) ; */
  background-position: center;
  height: 100vh;
  padding-top: 5%;

}

#iframe-container {
    position: relative;
    width: 60%;
    height: 70%;
    margin-left: 20%;
  }

  #video-iframe {
    width: 100%;
    height: 100%;
  }

  #menu-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
flex-direction: row; /* Horizontal layout */
align-items: center;
justify-content: center;
background-color: rgba(0, 0, 0, 0.7);
color: white;
/* opacity: 0; /* Start with opacity: 0; */
/* transition: opacity 0.5s ease; Add a transition for opacity  */
}

.menu-option {
padding: 100px 70px; /* Adjust the padding to make the boxes bigger and increase top/bottom padding */
margin: 10px;
cursor: pointer;
font-size: 40px;
background-color: #391b05; /* Brown background color */
color: white;
/* border: 1px solid #fff; White border */
display: flex;
align-items: center;
justify-content: center;
transition: background-color 0.3s ease;
/* width: 50%; Occupy half the screen */
box-sizing: border-box; /* Include padding and border in the width calculation */
}

.menu-option:hover {
background-color: #A0522D; /* Darker brown on hover */
}

#image-overlay {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: -10%; /* Adjust the distance from the right */
    z-index: 1; /* Place the image above the iframe */
    width: 175px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
  }



.h1 {
  font-size: 50px;
  margin: 0;
  font-family: 'Noto Serif Display', serif;
  color: white;
  text-align: center;
  padding: 2%;
}


/* section4 - CAST */

.team-section {
  background-color: #000000;
  padding: 20px;
  height: 100vh;
  padding-top: 5%;
}
h1
  {

      font-size: 50px;
      margin: 0;
      font-family: 'Noto Serif Display', serif;
      color: white;
      text-align: center;
      padding: 2%;
    /* padding-top: 10%; */
  }

.team-container {
  display: flex;
  justify-content: space-between;
}

.team-member {
  text-align: center;
  width: 20%; /* Adjust the width as needed */
   padding: 20px;
  
}

.team-member img {
  width: 100%;
  height: auto;
}

.team-member h3 {
  margin-top: 10px;
  color: white;
}

.team-member p {
  color: #ffffff;
}


.navbar {
  background-color: #241104; /* Brown color for the navbar */
  border-radius: 80px; /* Rounded corners */
  padding: 10px;
  width: 40%;
  margin-left: 30%;
  margin-top: 3%;
  text-align: center;
  position: fixed;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: bold;
}


/* Styles for the BTS Popup */
.bts-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.bts-popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.bts-popup img {
    width: 300px; /* Set the width of each image as needed */
    height: auto;
    margin: 10px;
    border-radius: 8px; /* Optional: Add rounded corners to images */
}

.bts-popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}